body {
    padding-top: 800px;
    margin: 0px;
    text-align: center;

}

#Welcome {
    height: 100%;
    width: 100%;
    background: linear-gradient(#0679AB 0%, #FA1616 100%);
    position: absolute;
    overflow: hidden;
    height: 800px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    color: #ffffff;
    opacity: 0.83;
    display: table;
}

.profile {
    width: 175px;
    border-radius: 100px;
    margin-bottom: 50px;
}

h1 {
    font-size: 20px;
    font-family: cursive;
    font-weight: 300;
    line-height: 1.2;

}

#name {
    font-size: 27px;
    font-family: cursive;
    font-weight: 300;
    line-height: 1.2;
}

h2 {
    font-size: 20px;
    font-family: cursive;
    font-weight: 300;
    line-height: 1.2;
}

.Bio {
    padding: 50px;
    font-size: 40px
}

.line {
    background-color: black;
    height: 6px;
    width: 76px;
    margin: 8px auto;
    
}

p {
    margin: auto;
    font-size: 22px;
    max-width: 9050px;
    line-height: 1.3px;
}
.inner{
    text-align: center;
    vertical-align: middle;
    display:table-cell;
    position:relative;
}